<div class = "top-hero-wrapper">
  <div class = "container top-hero-container">
    <h1 class = "text-white">松井電設工業株式会社</h1>
    <h5 class = "text-white">電気工事・空調工事・消防設備工事</h5>
    <div class = "row">
      <div class = "col-md-2">
        <%= link_to '会社情報', pages_company_profile_path, class: 'btn btn-block btn-white' %>
      </div>      
      <div class = "col-md-2">
        <%= link_to '事業内容', pages_description_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class = "col-md-2">
        <%= link_to '実績紹介', pages_performance_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class = "col-md-2">
        <%= link_to '求人情報', pages_recruit_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class = "col-md-2">
        <%= link_to 'お問い合わせ', pages_contact_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class = "col-md-2">
        <%= link_to 'blog', posts_path, class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>  



